BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 120
Standard: C++11
IndentWidth: 4

DerivePointerAlignment: false
PointerAlignment: Left

UseTab: Never

MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

AlignAfterOpenBracket: BlockIndent

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

BinPackParameters: false
BinPackArguments: false
